<!-- templates/requestbin.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP Request Info</title>
    <style>
        ul {
            list-style: none;
        }
        table {
            border-collapse: collapse;
        }
        tr {
            border: 2px solid;
        }
    	th, td {
    	    padding: 0 5px;
    	    border: 1px solid;
    	}
    	ul {
    	    padding: 0 10px;
    	}
        .center-column {
            text-align: center;
        }
    </style>
    <script>
        // 페이지 새로고침 간격 (밀리초)
        const refreshInterval = 5000;  // 5초

        // 페이지 새로고침 및 간격 표시
        function refreshPage() {
            location.reload();
        }

        function displayRefreshTime() {
            const countdownElement = document.getElementById('countdown');
            let countdown = refreshInterval / 1000;

            setInterval(function() {
                countdownElement.textContent = `Next refresh in ${countdown} seconds`;
                countdown--;

                if (countdown < 0) {
                    refreshPage();
                    countdown = refreshInterval / 1000;
                }
            }, 1000);
        }

        // 초기화
        window.onload = function() {
            displayRefreshTime();
        };
    </script>
</head>
<body>
    <h1>HTTP Request Info</h1>
    <div>
        <span id="countdown">Next refresh in 0 seconds</span>
        <button onClick="window.location.reload()" >새로고침</button>
    </div>
    <br>
    <table border="2">
        <thead>
            <tr>
                <th>IP</th>
                <th>Method</th>
                <th>Path</th>
                <th>Query Parameters</th>
                <th>Headers</th>
                <th>Time</th>
                <th>Data</th>
                <th>Form Data</th>
                <th>Files</th>
                <th>Cookies</th>
            </tr>
        </thead>
        <tbody>
            {% for req in request_info %}
                <tr>
                    <td class="center-column">{{ req.remote_addr }}</td>
                    <td class="center-column">{{ req.method }}</td>
                    <td>{{ req.path }}</td>
                    <td>{{ req.args }}</td>
                    <td>
                        <ul>
                            {% for key, value in req.headers.items() %}
                                <li><b>{{ key }} :</b> {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ req.timestamp | replace(' ', '<br>') | safe }}</td>
                    <td>{{ req.data }}</td>
                    <td>{{ req.form }}</td>
                    <td>{{ req.files }}</td>
                    <td>{{ req.cookies }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

